<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.myhealthcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <activity android:name="com.android.myhealthcare.controllers.DoctorProfile" />
        <activity android:name="com.android.myhealthcare.controllers.Privacy" />
        <activity android:name="com.android.myhealthcare.controllers.TermsAndCondition" />
        <activity android:name="com.android.myhealthcare.controllers.About" />
        <activity android:name="com.android.myhealthcare.controllers.Profile" />
        <activity android:name="com.android.myhealthcare.controllers.Doctor" />
        <activity android:name="com.android.myhealthcare.controllers.Report" />
        <activity android:name="com.android.myhealthcare.controllers.Appointment" />
        <activity android:name="com.android.myhealthcare.controllers.Prescription" />
        <activity android:name="com.android.myhealthcare.controllers.Dashboard" />
        <activity android:name="com.android.myhealthcare.controllers.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.myhealthcare.controllers.RegistrationPage" />
        <activity android:name="com.android.myhealthcare.controllers.LoginPage" />
        <activity android:name="com.android.myhealthcare.controllers.WelcomeScreen" />
    </application>

</manifest>